.banner-container{
    background-image: url('../assets/imgs/banner.png') ;
    width: 1440px;
    height: 316px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content{
    text-align: center;
}
.function-container{
    position: relative;
    width: 1440px;
    height: 100px;
    background-color: RGB(249,241,231);
}
.functionbar-filter{
    position:absolute;
    width: 85px;
    height: 30px;
    left: 98px;
    top: 35px;
    bottom: 35px;
    display: flex;
}
.functionbar-filter p{
    margin-left: 12px;
    font-size: 20px;
}
.functionbar-4dots{
    position:absolute;
    width: 28px;
    height: 28px;
    left:206px;
    top:36px;
    bottom:36px;
}
.function-viewlist{
    position:absolute;
    width: 24px;
    height: 24px;
    left:258px;
    top:38px;
    bottom:38px;
}
.function-showresult{
    position:absolute;
    width: 237px;
    height: 37px;
    left:312px;
    top:31px;
    bottom:32px;
    padding-top: 6px ;
    padding-left: 31px;
    border-left: 2px solid RGB(159,159,159);
}
.function-showpagenumber{
    position: absolute;
    display: flex;
    width: 126px;
    height: 55px;
    right: 417px;
    left: 897px;
    top: 22px;
    bottom: 23px;
    font-size: 20px;
    align-items: center;
}
.function-showpagenumber input{
    width: 55px;
    height: 55px;
    margin-left: 17px;
    text-align: center;
    font-size: 20px;
    color: #9F9F9F;
    border-style: none;
}
.function-sortby {
    position: absolute;
    display: flex;
    width: 286px;
    height: 55px;
    left: 1052px;
    right: 100px;
    top: 22px;
    bottom: 23px;
    font-size: 20px;
    align-items: center;
}
.function-sortby input{
    width: 188px;
    height: 55px;
    margin-left: 17px;
    font-size: 20px;
    color: #9F9F9F;
    border-style: none;
}
.function-sortby input::placeholder{
    padding-left: 30px;
}
.main-content{
    width: 1440px;
    height: 2051px;
    margin-top: 52px;
}
.content-container{
    width: 1236px;
    height: 2034px;
    margin-top: 17px;
    margin-left:99px;
    margin-right: 105px;
    position: relative;
}
.content-container .row{
    height: 446px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.content-container .content-card{
    background-color: RGB(244,245,247);
    width: 285px;
    height: 446px;
    position: relative;
}
.nametag{
    width: 177px;
    height: 61px;
    margin-left: 16px;
}
.nametag h2 {
    color:rgba(58, 58, 58, 1)
}
.nametag p{
    margin-top: 8px;
    color:rgba(137, 137, 137, 1)
}
.pricetag{
    display: flex;
    width: 249px;
    height: 30px;
    margin-top: 14px;
    margin-left: 16px;
    margin-bottom: 30px;
}
.pricetag h3 {
    color:rgba(58, 58, 58, 1)
}
.pricetag p {
    margin-left: 16px;
    color: rgba(176, 176, 176, 1);
}
.pricetag strike{
    color: rgba(176, 176, 176, 1);
}
.content-card .saleoff{
    background-color: RGB(233,113,113);
    width: 45px; /* Chiều rộng của thẻ */
    height: 45px;
    border-radius: 50%;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right:24px;
    top: 24px;
}
.content-card .new{
    background-color: RGB(46,193,172);
    width: 45px; /* Chiều rộng của thẻ */
    height: 45px;
    border-radius: 50%;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right:24px;
    top: 24px;
}
.content-container .pagenumber{
    width: 392px;
    height: 90px;
    position: absolute;
    left: 422px;
    right: 422px;
    display: flex;
    align-items: end;
}
.pagebutton{
    background-color: rgba(249, 241, 231, 1);
    width: 60px;
    height: 60px;
    border-radius: 15px;
    margin-right: 38px;
    border-style: none;
    font-size: 20px;
}
#button1{
    background-color: RGB(184,142,47);
    color:white;
}
#buttonNext{
    width:98px;
    height: 60px;
}
#nametaglast{
    font-size: 15px;
    width: 218px;
}
.addcartsection{
    width: 252px;
    height: 96px;
    position: absolute;
    top: 175px;
    bottom: 175px;
    right: 17px;
    left: 16px;
    display: none;
}
.addcartsection-btn{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.addcartsection-btn button{
    height: 100%;
    width: 202px;
    color: rgba(184, 142, 47, 1);
    font-size: 16px;
    font-weight: 700;
    border-style: none;
}
.addcartsection-link{
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: white;
}
.content-card:hover .addcartsection{
    display: block;
    filter: none;
}
.content-card:hover img{
    filter: brightness(0.5);
}
.content-card:hover .product-content{
    background-color: RGB(110,110,111);
}
.product-content{
    position: absolute;
    top: 301px;
    width: 285px;
    height: 145px;
}
.content-card:hover .nohove{
    filter:none;
}

